extends ./layout.pug

block content
 .container
  .content
   h1 što misliš?
   form(method='POST', action='/addMessage', id='message-form')
    input(type='text', placeholder='unesi poruku...', name='message', id='message', maxlength='50')