doctype html
html
 head
  link(rel="stylesheet" href="/static/css/style.css")
  link(rel="stylesheet" href="http://fonts.typotheque.com/WF-025478-009410.css")
  block title
   title što misliš?
  meta(charset='utf-8')
 body
  block content
  block scripts	