/*
27.6.2016.
stamislis.net
author: dominik markusic
*/

body {
	background-color: black;
  color: white;
  text-align: center;
  font-family: "Mote 3";
  font-style: normal;
  font-weight: 600;
  font-size: 200%;
  padding: 0 180px; }

h1 {
	font-family: "Mote 3";
  font-style: normal;
  font-weight: 600; }

input {
	font-family: "Mote 3";
	font-style: normal;
	font-weight: 300;
	font-size: 100%;
	color: rgb(128, 128, 128);
	padding: 10px;
	width: 60vw; }

input:focus {
  outline-width: 0; }

.container {
	height: 80vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center; }

#current-message {
	font-size: 200%;
}